{% extends "layouts/main.html" %}

{% set pageName = "We are checking for penalty notices" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">We are checking for penalty notices</h1>
      <div class="govuk-panel__body">
        Your reference number<br>
        <strong>{{ data["reference"] }}</strong>
      </div>
    </div>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">We will email the results to the registered keeper's address.</p>
    <p class="govuk-body">You will get the results within 24 hours. If you do not get an email, call 0300 123 1000.</p>
    <p class="govuk-body"><a href="/start" class="govuk-link">Start a new application</a></p>

  </div>
</div>
{% endblock %}
