{% extends "layouts/main.html" %}

{% set pageName = "Check if your vehicle has fixed penalty notices" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check if your vehicle has fixed penalty notices</h1>
    <p class="govuk-body">Check if your vehicle has unpaid fixed penalty notices.</p>
    <p class="govuk-body">You will need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>vehicle registration number</li>
      <li>V5C registration certificate</li>
    </ul>
    <p class="govuk-body">It takes around <strong>2 to 5 minutes</strong> to complete.</p>
    {{ govukButton({
      text: "Start now",
      href: "/vehicle-registration",
      isStartButton: true
    }) }}
  </div>
</div>
{% endblock %}
