{% extends "layouts/main.html" %}

{% set pageName = "Are you the registered keeper of this vehicle?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    {% if errors and errors["vehicle-owner"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [{ text: errors["vehicle-owner"], href: "#vehicle-owner" }]
    }) }}
    {% endif %}

    <form method="post" novalidate>
    {{ govukRadios({
      name: "vehicle-owner",
      fieldset: {
        legend: {
          text: "Are you the registered keeper of this vehicle?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: { text: "The registered keeper is named on the V5C registration certificate." },
      errorMessage: errors["vehicle-owner"] if errors else null,
      value: data["vehicle-owner"],
      items: [
        { value: "yes", text: "Yes" },
        { value: "no", text: "No" }
      ]
    }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>
{% endblock %}
