{% extends "layouts/main.html" %}

{% set pageName = "What is your vehicle registration number?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    {% if errors and errors["vehicle-registration"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [{ text: errors["vehicle-registration"], href: "#vehicle-registration" }]
    }) }}
    {% endif %}

    <form method="post" novalidate>
    {{ govukInput({
      id: "vehicle-registration",
      name: "vehicle-registration",
      label: {
        text: "What is your vehicle registration number?",
        isPageHeading: true,
        classes: "govuk-label--l"
      },
      hint: { text: "For example, AB12 CDE." },
      errorMessage: errors["vehicle-registration"] if errors else null,
      value: data["vehicle-registration"]
    }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>
{% endblock %}
